@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
	box-sizing: border-box;
}

/**
	 Убираем внутренние отступы слева тегам списков,
	 у которых есть атрибут class
	*/
:where(ul, ol):where([class]) {
	padding-left: 0;
}

/**
	 Убираем внешние отступы body и двум другим тегам,
	 у которых есть атрибут class
	*/
body,
:where(blockquote, figure):where([class]) {
	margin: 0;
}

/**
	 Убираем внешние отступы вертикали нужным тегам,
	 у которых есть атрибут class
	*/
:where(h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	dl):where([class]) {
	margin-block: 0;
}

:where(dd[class]) {
	margin-left: 0;
}

:where(fieldset[class]) {
	margin-left: 0;
	padding: 0;
	border: none;
}

/**
	 Убираем стандартный маркер маркированному списку,
	 у которого есть атрибут class
	*/
:where(ul[class]) {
	list-style: none;
}

:where(address[class]) {
	font-style: normal;
}

/**
	 Обнуляем вертикальные внешние отступы параграфа,
	 объявляем локальную переменную для внешнего отступа вниз,
	 чтобы избежать взаимодействие с более сложным селектором
	*/
p {
	--paragraphMarginBottom: 24px;

	margin-block: 0;
}

/**
	 Внешний отступ вниз для параграфа без атрибута class,
	 который расположен не последним среди своих соседних элементов
	*/
p:where(:not([class]):not(:last-child)) {
	margin-bottom: var(--paragraphMarginBottom);
}


/**
	 Упрощаем работу с изображениями и видео
	*/
img {
	display: block;
	max-width: 100%;
	height: auto;
}

/**
	 Наследуем свойства шрифт для полей ввода
	*/
input,
textarea,
select,
button {
	font: inherit;
}

html {
	/**
	   Пригодится в большинстве ситуаций
	   (когда, например, нужно будет "прижать" футер к низу сайта)
	  */
	height: 100%;
	/**
	   Убираем скачок интерфейса по горизонтали
	   при появлении / исчезновении скроллбара
	  */
	scrollbar-gutter: stable;
}

/**
	 Плавный скролл
	*/
html,
:has(:target) {
	scroll-behavior: smooth;
}

body {
	/**
	   Пригодится в большинстве ситуаций
	   (когда, например, нужно будет "прижать" футер к низу сайта)
	  */
	min-height: 100%;
	/**
	   Унифицированный интерлиньяж
	  */
	line-height: 1.5;
}

/**
	 Нормализация высоты элемента ссылки при его инспектировании в DevTools
	*/
a:where([class]) {
	display: inline-flex;
}

/**
	 Курсор-рука при наведении на элемент
	*/
button,
label {
	cursor: pointer;
}

/**
	 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
	*/
svg * {
	transition-property: fill, stroke;
}

/**
	 Приведение рамок таблиц в классический 'collapse' вид
	*/
:where(table) {
	border-collapse: collapse;
	border-color: currentColor;
}

/**
	 Удаляем все анимации и переходы для людей,
	 которые предпочитают их не использовать
	*/
@media (prefers-reduced-motion: reduce) {

	*,
	::before,
	::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--base-font: "Open Sans";
	--base-font-color: #ffffff;
	--red-color: #CB453C;
	--matr-color: #84552E;
	--blue-color: #2D81B5;
	--brown-color: #CF7C00;
	--gray-color: #474747;
	--lightblue-color: #75BBC8;
	--storm-blue: #1E2569;
	--doc-color: #353E69;
	--king-blue-color: #27B2F1;
	--luidgi-yellow-color: #FFD078;
	--luidgi-black-font-color: #404040;
	--ramon-purple-color: #7A4792;
	--sally-clue-color: #599EF3;
}

img,
svg {
	pointer-events: none;
}

body {
	font-family: var(--base-font);
	color: var(--base-font-color);

}

body p {
	line-height: 1.8;
}

a,
a:visited,
a:active {
	text-decoration: none;
	color: var(--base-font-color);
}

.container {
	max-width: 1360px;
	margin: 0 auto;
	padding-inline: 50px;
}

/*Стилизация Header*/
.header {
	background-color: var(--lightblue-color);
}

.header-container {
	padding-block: 3.704vh;
}


.header-nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;
}

.header-logo-link {
	display: block;
}

.header-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 17px;
	font-weight: 700;
	font-size: 1.3rem;
}

.header-logo img {
	max-width: 100px;
}

.header-nav-list {
	font-size: 1.35rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 100px;
}

.nav-list-item {
	position: relative;
}

.nav-list-item:before {
	content: "";
	width: 0px;
	height: 2px;
	position: absolute;
	bottom: -5px;
	left: 0;
	background-color: #ffffff;
	transition: all 0.2s;
}

.nav-list-item:hover:before {
	width: 100%;
}

.nav-list-link {}

.header-market-group {
	display: flex;
	column-gap: 22px;
}

.header-market-link {
	border-radius: 16px;
	border: 2px solid transparent;
	padding: 4px;
	transition: border 0.2s;
}

.header-market-link img {
	width: 48px;
}

.header-market-link:hover {
	border: 2px solid #ffffff;
}

.header-social-group {
	display: flex;
	column-gap: 22px;
}

.header-social-link {
	border-radius: 50%;
	border: 2px solid transparent;
	padding: 4px;
	transition: border 0.2s;
	max-width: 58px;
}

.header-social-link:hover {
	border: 2px solid #ffffff;
}

/*Адаптация Header*/
@media(max-width:900px) {
	.header-nav-bar {}


	.header-nav-list {
		column-gap: 25px;
	}
}

@media(max-width:750px) {
	.header-market-group {
		flex-direction: column;
	}

	.header-social-group {
		flex-direction: column;
	}
}

@media(max-width:570px) {
	.header-market-group {}

	.header-nav-list {
		column-gap: 15px;
	}

	.header-container {
		padding-inline: 20px;
	}
}

@media(max-width:500px) {
	.header-logo img {
		max-width: 80px;
	}

	.header-nav-list {
		column-gap: 15px;
		flex-direction: column;
		row-gap: 10px;
	}

	.header-nav-list {
		font-size: 1rem;
	}
}

/*Стилизация Present*/
.main {}

.present {
	background: url(/icons/Piston-cup-logo.svg) no-repeat bottom right -100px /450px 370px,
		url("/icons/95.svg") no-repeat left -100px top / 509px 301px,
		var(--lightblue-color) url(/icons/Rusteze.svg) no-repeat center / 550px 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 10%;
}

.present-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.present-header {
	font-size: 3.5rem;
	margin-bottom: 24px;
	text-align: center;

}

.present-subtitle {
	font-size: 2rem;
	max-width: 628px;
	text-align: center;
	margin-bottom: 40px;
}

.present-image {}

/*Адаптация Present*/
@media(max-width:1150px) {
	.present {
		background: var(--lightblue-color) url(/icons/Rusteze.svg) no-repeat center;
		padding-top: 0%;
	}
}

@media(max-width:830px) {
	.present-header {
		font-size: 3rem;
	}

	.present-subtitle {
		font-size: 1.5rem;
	}

	.present {
		background: var(--lightblue-color) url(/icons/Rusteze.svg) no-repeat center /500px 500px;
		height: auto;
	}
}

@media(max-width:570px) {
	.present-container {
		padding-inline: 20px;
	}

	.present-header {
		font-size: 2rem;
	}

}

/*Стилизация Cards*/
.cards {
	background: url(/icons/porsche-svgrepo-com.svg) no-repeat center right -200px / 700px 700px,
		var(--lightblue-color) url(/icons/Dinoco.svg) no-repeat top left -200px / 600px 600px;
	padding-bottom: 5%;
}

.cards-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px 20px;

}


.card {
	max-width: 32%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	box-shadow: 0px 0px 10px 10px #00000031;
	transition: all 0.2s;

}

.card:hover {
	box-shadow: 0px 0px 10px 10px #00000050;
}


.storm {
	background-color: var(--storm-blue);
}

.lightning {
	background-color: var(--red-color);
}

.matr {
	background-color: var(--matr-color);
}

.matr img {
	max-width: 250px;
}

.hudson {
	background-color: var(--doc-color);
}

.sally {
	background-color: var(--sally-clue-color);
}

.ramires {
	background-color: #FECE54;
}

.king {
	background-color: var(--king-blue-color);
}

.france {
	background-color: #017B3A;
}

.chicko {
	background-color: #6dbe51;
}

.finn {
	background-color: #f7f7f7;
	color: var(--luidgi-black-font-color);
}

.sheriff {
	background-color: #1C1E28;
}

.quido {
	background-color: #8BBFE7;
}

.quido img {
	max-width: 200px;
}

.card-image {
	margin: 0 auto 20px;
	flex-grow: 0;
}

.card-info {
	margin-bottom: 20px;
	flex-grow: 1;
}

.card-name {
	font-weight: 700;
	font-size: 1.5rem;
}

.card-description {}

.card-buy-group {
	display: flex;
	flex-direction: column;
	row-gap: 13px;
}

.card-buy-button {
	border: 2px solid #ffffff;
	font-size: 1rem;
	background-color: transparent;
	padding: 5px 5px 5px 15px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 10px;
	border-radius: 10px;
	transition: all 0.2s;
	width: 100%;
	justify-content: space-between;
}

/*Кнопки storm*/
.storm .card-buy-button:hover {
	background-color: #fff;
	color: var(--storm-blue);
}

.storm .card-buy-button:hover .card-button-circle {
	background-color: var(--storm-blue);
}

.storm .card-buy-button .card-button-circle svg path {
	fill: var(--storm-blue);
}

.storm .card-buy-button:hover .card-button-circle svg path {
	fill: #ffffff;
}

/*Кнопки lightning*/
.lightning .card-buy-button:hover {
	background-color: #fff;
	color: var(--red-color);
}

.lightning .card-buy-button:hover .card-button-circle {
	background-color: var(--red-color);
}

.lightning .card-buy-button .card-button-circle svg path {
	fill: var(--red-color);
}

.lightning .card-buy-button:hover .card-button-circle svg path {
	fill: #ffffff;
}

/*Кнопки Matr*/
.matr .card-buy-button:hover {
	background-color: #fff;
	color: var(--matr-color);
}

.matr .card-buy-button:hover .card-button-circle {
	background-color: var(--matr-color);
}

.matr .card-buy-button .card-button-circle svg path {
	fill: var(--matr-color);
}

.matr .card-buy-button:hover .card-button-circle svg path {
	fill: #ffffff;
}

/*Кнопки Hudson*/
.hudson .card-buy-button:hover {
	background-color: #fff;
	color: var(--doc-color);
}

.hudson .card-buy-button:hover .card-button-circle {
	background-color: var(--doc-color);
}

.hudson .card-buy-button .card-button-circle svg path {
	fill: var(--doc-color);
}

.hudson .card-buy-button:hover .card-button-circle svg path {
	fill: #ffffff;
}

/*Кнопки Sally*/
.sally .card-buy-button:hover {
	background-color: #fff;
	color: var(--sally-clue-color);
}

.sally .card-buy-button:hover .card-button-circle {
	background-color: var(--sally-clue-color);
}

.sally .card-buy-button .card-button-circle svg path {
	fill: var(--sally-clue-color);
}

.sally .card-buy-button:hover .card-button-circle svg path {
	fill: #ffffff;
}

/*Кнопки Ramires*/
.ramires .card-buy-button:hover {
	background-color: #fff;
	color: #FECE54;
}

.ramires .card-buy-button:hover .card-button-circle {
	background-color: #FECE54;
}

.ramires .card-buy-button .card-button-circle svg path {
	fill: #FECE54;
}

.ramires .card-buy-button:hover .card-button-circle svg path {
	fill: #ffffff;
}

/*Кнопки King*/
.king .card-buy-button:hover {
	background-color: #fff;
	color: var(--king-blue-color);
}

.king .card-buy-button:hover .card-button-circle {
	background-color: var(--king-blue-color);
}

.king .card-buy-button .card-button-circle svg path {
	fill: var(--king-blue-color);
}

.king .card-buy-button:hover .card-button-circle svg path {
	fill: #ffffff;
}

/*Кнопки France*/
.france .card-buy-button:hover {
	background-color: #fff;
	color: #017B3A;
}

.france .card-buy-button:hover .card-button-circle {
	background-color: #017B3A;
}

.france .card-buy-button .card-button-circle svg path {
	fill: #017B3A;
}

.france .card-buy-button:hover .card-button-circle svg path {
	fill: #ffffff;
}

/*Кнопки Chicko*/
.chicko .card-buy-button:hover {
	background-color: #fff;
	color: #6dbe51;
}

.chicko .card-buy-button:hover .card-button-circle {
	background-color: #6dbe51;
}

.chicko .card-buy-button .card-button-circle svg path {
	fill: #6dbe51;
}

.chicko .card-buy-button:hover .card-button-circle svg path {
	fill: #ffffff;
}

/*Кнопки Finn*/
.finn .card-buy-button:hover {
	background-color: #7A95B0;
	color: #fff
}

.finn .card-buy-button {
	border-color: #7A95B0;
	color: #7A95B0;
}

.finn .card-button-circle {
	background-color: #7A95B0;
}

.finn .card-buy-button:hover .card-button-circle {
	background-color: #fff;
}

.finn .card-buy-button:hover .card-button-circle svg path {
	fill: #7A95B0;
}

/*Кнопки Sheriff*/
.sheriff .card-buy-button:hover {
	background-color: #fff;
	color: #1C1E28;
}

.sheriff .card-buy-button:hover .card-button-circle {
	background-color: #1C1E28;
}

.sheriff .card-buy-button .card-button-circle svg path {
	fill: #1C1E28;
}

.sheriff .card-buy-button:hover .card-button-circle svg path {
	fill: #ffffff;
}

/*Кнопки Guido*/
.quido .card-buy-button:hover {
	background-color: #fff;
	color: #8BBFE7
}

.quido .card-buy-button:hover .card-button-circle {
	background-color: #8BBFE7;
}

.quido .card-buy-button .card-button-circle svg path {
	fill: #8BBFE7;
}

.quido .card-buy-button:hover .card-button-circle svg path {
	fill: #ffffff;
}

.card-button-circle {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	aspect-ratio: 1;
	border-radius: 5px;
}

.alternate {}

/*Адаптация Cards*/
@media(max-width:1100px) {
	.card {
		max-width: 48%;
	}

	.matr img {
		max-width: 100%;
	}
}

@media(max-width:600px) {
	.card {
		max-width: 100%;
	}
}


@media(max-width:570px) {
	.cards-container {
		padding-inline: 20px;
	}

	.cards {
		background: var(--lightblue-color);
		padding-bottom: 5%;
	}
}

/*Стилизация Banner*/
.banner-container {
	background: url(/icons/Rusteze.svg) no-repeat center right / 300px 300px, #017B3A url(/icons/95.svg) no-repeat center left / 300px 300px;
	width: 100%;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 10px #00000031;
}


.banner-info {
	font-size: 1.35rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 20px;
	align-items: center;
}

.banner-link {
	display: inline-block;
	border: 2px solid #ffffff;
	padding: 10px;
	border-radius: 10px;
	transition: all 0.2s;
}

.banner-link:hover {
	background-color: #ffffff;
	color: #017B3A;

}

/*Адаптация Banner*/
@media(max-width:850px) {

	.banner-container {
		background: url(/icons/Rusteze.svg) no-repeat center right / 150px 150px, #017B3A url(/icons/95.svg) no-repeat center left / 200px 200px;
	}
}

@media(max-width:570px) {

	.banner-container {
		background: #017B3A url(/icons/Rusteze.svg) no-repeat center / 350px 350px;
	}

	.banner-info {
		flex-direction: column;
		font-size: 1.2rem;
		text-align: center;
		row-gap: 20px;

	}

	.banner-link {
		width: 100%;
		text-align: center;
	}
}

@media(max-width:350px) {
	.banner-info {
		font-size: 1rem;
	}
}

/*Стилизация Footer*/
.footer {
	background-color: var(--gray-color);

}

.footer-container {
	padding-block: 3.704vh;
}


.footer-nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer-logo-link {
	display: block;
}

.footer-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 17px;
	font-weight: 700;
	font-size: 1.5rem;
}

.footer-nav-list {
	font-size: 1.35rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 100px;
}

.footer-nav-list .nav-list-item {
	position: relative;
}

.footer-social-group {
	display: flex;
	column-gap: 22px;
}

.footer-social-link {
	border-radius: 50%;
	border: 2px solid transparent;
	padding: 4px;
	transition: border 0.2s;
	max-width: 58px;
}

.footer-social-link:hover {
	border: 2px solid #ffffff;
}

.footer-nav-list .nav-list-item:before {
	content: "";
	width: 0px;
	height: 2px;
	position: absolute;
	bottom: -5px;
	left: 0;
	background-color: #ffffff;
	transition: all 0.2s;
}

.footer-nav-list .nav-list-item:hover:before {
	width: 100%;
}


.footer-market-group {
	display: flex;
	column-gap: 22px;
}

.footer-market-link {
	border-radius: 16px;
	border: 2px solid transparent;
	padding: 4px;
	transition: border 0.2s;
}
.footer-logo-link img {
	max-width: 100px;
}
.footer-market-link img {
	width: 48px;
}

.footer-market-link:hover {
	border: 2px solid #ffffff;
}

/*Адаптация Footer*/
@media(max-width:900px) {
	.footer-nav-bar {
		flex-wrap: wrap;
		row-gap: 30px;
	}

	.footer-nav-list {
		column-gap: 30px;
	}
}

@media(max-width:800px) {

	.footer-nav-list,
	.footer-market-group,
	.footer-social-group {
		flex-direction: column;
		row-gap: 5px;
	}
}

@media(max-width:570px) {
	.footer-container {
		padding-inline: 20px;
	}

	.footer-market-group {
		column-gap: 0px;
	}
}

@media(max-width:500px) {
	.footer-logo-link img {
		max-width: 80px;
	}

	.footer-nav-list {
		font-size: 1rem;
	}

	.footer-social-link {
		max-width: 46px;
	}

	.footer-market-link img {
		width: 35px;

	}

	.footer-logo-link {
		border-radius: 13px;
	}

	.header-social-link {
		max-width: 46px;
	}

	.header-market-link img {
		width: 35px;

	}

	.header-logo-link {
		border-radius: 13px;
	}
}