@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
	box-sizing: border-box;
}

/**
	 Убираем внутренние отступы слева тегам списков,
	 у которых есть атрибут class
	*/
:where(ul, ol):where([class]) {
	padding-left: 0;
}

/**
	 Убираем внешние отступы body и двум другим тегам,
	 у которых есть атрибут class
	*/
body,
:where(blockquote, figure):where([class]) {
	margin: 0;
}

/**
	 Убираем внешние отступы вертикали нужным тегам,
	 у которых есть атрибут class
	*/
:where(h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	dl):where([class]) {
	margin-block: 0;
}

:where(dd[class]) {
	margin-left: 0;
}

:where(fieldset[class]) {
	margin-left: 0;
	padding: 0;
	border: none;
}

/**
	 Убираем стандартный маркер маркированному списку,
	 у которого есть атрибут class
	*/
:where(ul[class]) {
	list-style: none;
}

:where(address[class]) {
	font-style: normal;
}

/**
	 Обнуляем вертикальные внешние отступы параграфа,
	 объявляем локальную переменную для внешнего отступа вниз,
	 чтобы избежать взаимодействие с более сложным селектором
	*/
p {
	--paragraphMarginBottom: 24px;

	margin-block: 0;
}

/**
	 Внешний отступ вниз для параграфа без атрибута class,
	 который расположен не последним среди своих соседних элементов
	*/
p:where(:not([class]):not(:last-child)) {
	margin-bottom: var(--paragraphMarginBottom);
}


/**
	 Упрощаем работу с изображениями и видео
	*/
img {
	display: block;
	max-width: 100%;
	height: auto;
}

/**
	 Наследуем свойства шрифт для полей ввода
	*/
input,
textarea,
select,
button {
	font: inherit;
}

html {
	/**
	   Пригодится в большинстве ситуаций
	   (когда, например, нужно будет "прижать" футер к низу сайта)
	  */
	height: 100%;
	/**
	   Убираем скачок интерфейса по горизонтали
	   при появлении / исчезновении скроллбара
	  */
	scrollbar-gutter: stable;
}

/**
	 Плавный скролл
	*/
html,
:has(:target) {
	scroll-behavior: smooth;
}

body {
	/**
	   Пригодится в большинстве ситуаций
	   (когда, например, нужно будет "прижать" футер к низу сайта)
	  */
	min-height: 100%;
	/**
	   Унифицированный интерлиньяж
	  */
	line-height: 1.5;
}

/**
	 Нормализация высоты элемента ссылки при его инспектировании в DevTools
	*/
a:where([class]) {
	display: inline-flex;
}

/**
	 Курсор-рука при наведении на элемент
	*/
button,
label {
	cursor: pointer;
}

/**
	 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
	*/
svg * {
	transition-property: fill, stroke;
}

/**
	 Приведение рамок таблиц в классический 'collapse' вид
	*/
:where(table) {
	border-collapse: collapse;
	border-color: currentColor;
}

/**
	 Удаляем все анимации и переходы для людей,
	 которые предпочитают их не использовать
	*/
@media (prefers-reduced-motion: reduce) {

	*,
	::before,
	::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--base-font: "Open Sans";
	--base-font-color: #ffffff;
	--red-color: #CB453C;
	--blue-color: #2D81B5;
	--brown-color: #CF7C00;
	--gray-color: #474747;
	--lightblue-color: #75BBC8;
	--storm-blue: #1E2569;
	--doc-color: #353E69;
	--king-blue-color: #27B2F1;
}

img,
svg {
	pointer-events: none;
}

body {
	font-family: var(--base-font);
	color: var(--base-font-color);
}

a,
a:visited,
a:active {
	text-decoration: none;
	color: var(--base-font-color);
}

.container {
	max-width: 1360px;
	margin: 0 auto;
	padding-inline: 50px;
}

/*Стилизация Header*/
.header {
	background-color: var(--red-color);
}

.header-container {
	padding-block: 3.704vh;
}


.header-nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-logo-link {
	display: block;
}

.header-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 17px;
	font-weight: 700;
	font-size: 1.5rem;
}

.header-nav-list {
	font-size: 1.188rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 100px;
}

.nav-list-item {
	position: relative;
}

.nav-list-item:before {
	content: "";
	width: 0px;
	height: 2px;
	position: absolute;
	bottom: -5px;
	left: 0;
	background-color: #ffffff;
	transition: all 0.2s;
}

.nav-list-item:hover:before {
	width: 100%;
}

.nav-list-link {}

.header-market-group {
	display: flex;
	column-gap: 22px;
}

.header-market-link {
	border-radius: 13px;
	border: 2px solid transparent;
	padding: 4px;
	transition: border 0.2s;
}

.header-market-link:hover {
	border: 2px solid #ffffff;
}

/*Адаптация Header*/
@media(max-width:900px) {
	.header-nav-bar {
		flex-wrap: wrap;
		row-gap: 30px;
	}

	.header-nav-list {
		order: 1;
		width: 100%;
	}
}

@media(max-width:570px) {
	.header-nav-list {
		column-gap: 15px;
	}

	.header-container {
		padding-inline: 20px;
	}
}

/*Стилизация Macqueen*/
.main {}

.macqueen-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	column-gap: 40px;
	padding-top: 13%;
	position: relative;
}



.macqueen {
	background: url(/icons/Transparent-Lightning.svg) no-repeat bottom -20px right -100px / 584px 216px,
		url(/icons/Rusteze.svg) no-repeat bottom -20px left -100px / 677px 568px,
		var(--red-color) url(/icons/95.svg) no-repeat top right / 624px 369px;
	height: 88vh;

}

.macqueen-info {
	font-size: 1.125rem;
	margin-bottom: 40px;
}



.macqueen-heading {
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: 20px;
	position: relative;
}

.macqueen-heading::after {
	content: "";
	position: absolute;
	top: -35px;
	right: -100px;
	width: 168px;
	height: 67px;
	background-image: url(/icons/Yellow-Lightning.svg);
	background-repeat: no-repeat;
}

.macqueen-buy-group {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
}

.macqueen-buy-button {
	border: 2px solid #ffffff;
	font-size: 1.5rem;
	background-color: transparent;
	padding: 10px 10px 10px 20px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 10px;
	border-radius: 50px;
	transition: all 0.2s;
}

.macqueen-buy-button:hover {
	background-color: #ffffff;
	color: var(--red-color);
}

.macqueen-buy-button:hover .buy-button-circle {
	background-color: var(--red-color);
}

.macqueen-buy-button:hover .buy-button-circle svg path {
	fill: #ffffff;
}

.macqueen-buy-button.alternate:hover {
	background-color: transparent;
	color: #ffffff;
}

.macqueen-buy-button.alternate:hover .buy-button-circle {
	background-color: #ffffff;
}

.macqueen-buy-button.alternate:hover .buy-button-circle svg path {
	fill: var(--red-color)
}

.buy-button-circle {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	aspect-ratio: 1;
	border-radius: 50%;
}

.buy-button-circle svg path {
	fill: var(--red-color);
}

.macqueen-buy-button.alternate {
	color: var(--red-color);
	background-color: #ffffff;
}

.macqueen-buy-button.alternate .buy-button-circle svg path {
	fill: #ffffff;
}

.macqueen-buy-button.alternate .buy-button-circle {
	background-color: var(--red-color);
}

.macqueen-image {
	max-width: 50%;
	scale: -1 1;
	filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.663));
	position: relative;
	z-index: 2;
}

/*Адаптация Macqueen*/
@media(max-width:1410px) {

	.macqueen {
		background: url(/icons/Transparent-Lightning.svg) no-repeat bottom -20px right -100px / 417px 154px,
			url(/icons/Rusteze.svg) no-repeat bottom 100px left 0px / 513px 430px,
			var(--red-color) url(/icons/95.svg) no-repeat top right / 453px 268px;
		height: auto;

	}

	.macqueen-container {
		padding-block: 10%;
	}

	.macqueen-heading::after {
		content: "";
		position: absolute;
		top: -35px;
		right: -50px;
		width: 106px;
		height: 42px;
		background-size: cover;
		background-image: url(/icons/Yellow-Lightning.svg);
		background-repeat: no-repeat;
	}

}

@media(max-width:1165px) {
	.macqueen-buy-group {
		display: flex;
		flex-direction: column;
		row-gap: 20px;

	}

	.macqueen-buy-button {
		justify-content: space-between;
	}
}

@media(max-width:920px) {

	.macqueen-image {
		max-width: 80%;
	}

	.macqueen-info {
		justify-content: center;
		display: flex;
		flex-direction: column;
		padding-block: 4vw;
	}

	.macqueen {
		background: var(--red-color) url(/icons/Rusteze.svg) no-repeat center;
	}

	.macqueen-container {
		flex-direction: column-reverse;
		padding-block: 5%;
	}

}

@media(max-width:550px) {
	.macqueen {
		background: var(--red-color) url(/icons/Rusteze.svg) no-repeat center / 551px 475px;

	}

	.macqueen-container {
		padding-inline: 20px;
		flex-direction: column;
		padding-top: 0;
		padding-bottom: 10%;
		row-gap: 30px;
	}

	.macqueen-heading::after {
		display: none;
	}

	.macqueen-heading {
		font-size: 1.5rem;
	}

	.macqueen-info {
		font-size: 1rem;
	}

	.macqueen-image {
		display: block;
		max-width: 100%;
	}

}

/*Стилизация Thomas*/
.thomas {
	background: url('/icons/Thomas-and-Friends.svg') no-repeat bottom right -200px / 815px 417px,
		var(--blue-color) url('/icons/1-bg.svg') no-repeat center left / 440px 890px;
}

.thomas-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	column-gap: 40px;
	padding-block: 5%;
}

.container {}

.thomas-image {
	max-width: 50%;
	filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.663));
}

.thomas-info {}

.thomas-info-heading {
	font-size: 2rem;
	margin-bottom: 20px;
	position: relative;
}

.thomas-info-heading:after {
	content: "";
	width: 50px;
	height: 132px;
	position: absolute;
	top: -80px;
	left: -50px;
	background-image: url('/icons/1.svg');
	background-size: cover;
	rotate: 35deg;
}

.thomas-info-text {
	font-size: 1.125rem;
	margin-bottom: 35px;
}

.thomas-buy-group {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
}

.thomas-buy-button {
	border: 2px solid #ffffff;
	font-size: 1.5rem;
	background-color: transparent;
	padding: 10px 10px 10px 20px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 10px;
	border-radius: 50px;
	transition: all 0.2s;
}

.thomas-buy-button.alternate {
	background-color: #ffffff;
	color: var(--blue-color);
}

.thomas-buy-button .buy-button-circle svg path {
	fill: var(--blue-color);
}

.thomas-buy-button.alternate .buy-button-circle {
	background-color: var(--blue-color);
}

.thomas-buy-button.alternate .buy-button-circle svg path {
	fill: #ffffff;
}

/*Адаптация Thomas*/
@media(max-width:1410px) {
	.thomas {
		background: url('/icons/Thomas-and-Friends.svg') no-repeat bottom 100px right -200px / 575px 294px,
			var(--blue-color) url('/icons/1-bg.svg') no-repeat center left -100px / 440px 890px;
	}

	.thomas-container {
		padding-block: 15%;
	}

	.thomas-info-heading:after {
		width: 40px;
		height: 120px;
	}
}

@media(max-width:1165px) {
	.thomas-buy-group {
		flex-direction: column;
		row-gap: 20px;
	}

	.thomas-buy-button {
		justify-content: space-between;
	}

	.thomas-info-heading {
		font-size: 1.7rem;
	}
}

@media(max-width:730px) {
	.thomas {
		background: var(--blue-color) url('/icons/Thomas-and-Friends.svg') no-repeat center;
	}

	.thomas-container {
		flex-direction: column;
		padding-block: 10%;
	}

	.thomas-image {
		max-width: 80%;
	}

	.thomas-info-heading:after {
		display: none;
	}

}

@media(max-width:550px) {
	.thomas-container {
		flex-direction: column-reverse;
		padding-top: 15%;
		padding-inline: 20px;
	}

	.thomas-info-heading {
		font-size: 1.5rem;
	}

	.thomas-info-text {
		font-size: 1rem;
	}
}

/*Стилизация Advantages*/
.advantages {
	color: #0f0f0f;
	background: rgb(255, 255, 255);
	background: linear-gradient(360deg, rgba(255, 255, 255, 1) 50%, rgba(45, 129, 181, 1) 50%);
}

.advantages-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	column-gap: 20px;
	padding-bottom: 5%;
}

.advantages-info {
	box-shadow: 0px 0px 10px 10px #0000002b;
	border-radius: 30px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	row-gap: 42px;
	background-color: #ffffff;
	flex-basis: 630px;
	flex-grow: 0;
	flex-shrink: 1;
}

.advantages-info-item {
	display: flex;
	flex-direction: row;
	column-gap: 35px;
	align-items: center;
}

.info-item-image-wrapper {
	background-color: var(--brown-color);
	display: flex;
}

.info-item-image-wrapper {
	flex-grow: 0;
	flex-shrink: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	flex-basis: 134px;
	padding: 15px;
}

.info-item-image-wrapper img {
	flex-basis: 97px;
}

.advantages-info-item:last-child .info-item-image-wrapper img {
	flex-basis: 80px;
}

.info-item-description {
	flex-basis: 376px;
	flex-grow: 0;
	flex-shrink: 1;
}

.info-item-heading {
	font-size: 1.3rem;
}

.info-item-text {
	font-size: 0.875rem;
}

.advantages-image {
	max-width: 45%;
	scale: -1 1;
	filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.663));
}

/*Адаптация Adavntages*/
@media(max-width:1100px) {
	.advantages-info {
		padding: 30px;
	}
}

@media(max-width:950px) {
	.advantages {
		background: rgb(255, 255, 255);
		background: linear-gradient(360deg, rgba(255, 255, 255, 1) 70%, rgba(45, 129, 181, 1) 70%);
	}

	.advantages-container {
		flex-direction: column;
		row-gap: 40px;
	}

	.advantages-image {
		max-width: 100%;
	}

	.info-item-description {
		flex-grow: 1;
	}

	.advantages-info {
		flex-basis: auto;
	}
}

@media(max-width:550px) {
	.advantages {
		color: #0f0f0f;
		background: rgb(255, 255, 255);
		background: linear-gradient(360deg, rgba(255, 255, 255, 1) 50%, rgba(45, 129, 181, 1) 50%);
	}

	.advantages-container {
		padding-inline: 20px;
	}

	.advantages-info-item {
		display: flex;
		flex-direction: column;
	}

	.text .advantages-info {
		align-items: center;
		justify-content: center;
	}

	.info-item-image-wrapper {
		margin-bottom: 20px;
	}

	.info-item-heading {
		margin-bottom: 10px;
	}

	.info-item-description {
		flex-basis: auto;
		text-align: center;
	}

}